.row.cmp-feature-list
  - if defined? current_page.data.feature_list_title
    .row.feature-list-top-section
      .col-md-7.text-center.u-margin-bottom-sm
        %h3 #{current_page.data.feature_list_title}
        - if defined? current_page.data.feature_list_subtitle
          %p #{current_page.data.feature_list_subtitle}
  .row.col-md-11.m-auto.feature-list-feature-section.u-margin-top-xs
    - data.components.feature_list.each do |feature_list_item|
      -if feature_list_item.identifier.include?("#{current_page.data.data_identifier}")
        - if feature_list_item.feature_icon
          -# .col-md-1.feature-list-icon
          -#   %img{loading: "lazy", src: "#{feature_list_item.feature_icon}"}
          .col-md-5.feature-list-item
            %img{loading: "lazy", class:"feature-list-icon", src: "#{feature_list_item.feature_icon}"}
            %h4 #{feature_list_item.title}
            %p #{feature_list_item.description}
            %ul
              %li #{feature_list_item.feature1}
              %li #{feature_list_item.feature2}
              %li #{feature_list_item.feature3}
            
            %a{:href=> "#{feature_list_item.link}", :"data-ga-name" => "#{feature_list_item.title}", :"data-ga-location" => "features", class: "highlight-gray"}
              #{feature_list_item.link_title }
              %span.arrow →

          -# .feature-list-item-end
